<h1><%= logoUser %> Edition du profil</h1>
<hr>
<table class="profile" summary="Information profil">
	<tr>
		<td class="main"> <%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<div class="field">
			<%= f.label :nom, "Nom" %>
			<br />
			<%= f.text_field :nom %>
		</div>
		<div class="field">
			<%= f.label :email, "eMail" %>
			<br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password, "Mot de passe" %>
			<br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation,"Confirmation" %>
			<br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "Valider" %>
		</div> <% end %> </td>
		<td class="sidebar round">
		<p>
			<div>
				<%= gravatar_for @user %>
				<a href="http://gravatar.com/emails">changer</a>
			</div>
		</p><strong>Nom</strong> <%= @user.nom %>
		<br />
		<strong>eMail</strong> <%= @user.email %>
		<br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %> </td>
	</tr>
</table>

