<h1><%= logoUser %> Profile </h1>

<p id="notice">
	<%= notice %>
</p>
<hr>
<table class="profile" summary="Information profil">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user, :size => "64x64" %>
				<%= @user.nom %>
				<%if @user == current_user%>
				| <%= link_to logoEdit, edit_user_path(@user) %>
				<%end%> 
			</h1>
			<br/>
			<P>
				<b>Email:</b> <%= @user.email%><br/>
				<b>Statut:</b> <%if @user.admin?%> Administrateur <%else%> Utilisateur <%end%>
			</p>
		</td>
	</tr>
</table>

<%= link_to icoReturn, session[:return_to] %>

