<header>

	<%= link_to logo, root_path %>
	<%= request.env['PATH_INFO'] %>

	<ul id= "menu">
		<li>
			<%= link_to "Accueil", root_path %>
		</li>

		<% if signed_in? %>
		<li>
			<%= link_to "Utilisateurs", users_path %>
		</li>

		<li class="deroulant">
			<a href="#">Application</a>
			<ul id="sousMenu" >
				<li>
					<%= link_to "Documents", doc_path %>
				</li>
				<li>
					<%= link_to "Compteur", app_path %>
				</li>
			</ul>
		</li>

		<% end %>

		<li>
			<%= link_to "Aide", help_path %>
		</li>

		<% if signed_in? %>
		<% if current_user.admin?%>
		<li>
			<%= link_to "Reglage", edit_user_path(current_user) %>
		</li>
		<%end%>
		<li class="deroulant">
			<%= link_to current_user.nom, current_user %>
			<ul id='sousMenuUserId'>
				<li>
					<a href="#"></a>
				</li>
				<li>
					<table id="userCo">
						<tr valign:"middle">
							<td rowspan=2 class="userAvatar"><%= gravatar_for current_user, :size => "32x32", :class => "log" %></td>
							<td class="userInfo"><b><%= current_user.nom%></b></br><%= current_user.email%></td>
						</tr>
					</table>
				</li>
				<li>
					<table id ="userAction">
						<tr>
							<td class="action"><%= link_to "profil", current_user %></td>
							<td class="action"><%= link_to "Deconnexion", signout_path, :method => :delete %></td>
						</tr>
					</table>

				</li>
			</ul>
		</li>
		<% else %>
		<li>
			<%= link_to "S'identifier", signin_path %>
		</li>
		<% end %>
	</ul>

</header>
